{{ form_start(form) }}

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">-</h6>
    </div>
    <div class="card-body">
     {{ form_widget(form) }}
      <hr>
      <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
  </div>
    
    
{{ form_end(form) }}
