{% extends 'base.html.twig' %}

{% block title %}Liste des liens{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des liens</h1>
    </div>
    
    <div class="row">


    <div class="col-lg-8 container-fluid">
        {% for link in links %}

            <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCard{{ link.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="#collapseCard{{ link.id }}">
                  <h6 class="m-0 font-weight-bold text-primary">{{ link.title }} | {{ link.url }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="#collapseCard{{ link.id }}">
                  <div class="card-body">
                    <a href="{{ path('link_show', {'id': link.id}) }}">show</a>
                    <a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>
                    {{ link.keywords ? link.keywords|join(', ') : '' }} <br>
                    {{ link.description }}
                  </div>
                </div>
              </div>
          
        {% else %}
            Pas de liens !
        {% endfor %}
        </div>
    </div>

    
{% endblock %}
