<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Link database!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">

        	<!--ICONS -->
            <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

            <!-- FONTS !! -->
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        {% endblock %}
    </head>
    <body id="page-top">
        
        	  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-archive"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Website title</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">


      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <span>Les plus récents</span></a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="">
          <span>Les plus anciens</span></a>
      </li>
	  
	  	  <li class="nav-item">
        <a class="nav-link" href="">
          <span>A - Z</span></a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="">
          <span>Z - A</span></a>
      </li>
	  
	  <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
           <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">



    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

      	{% block sidebar %}
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

           {% if app.user and ("ROLE_USER" in app.user.Roles()) %}
          <!-- Topbar Search -->
          <ul class="navbar-nav">
		  	<li class="nav-item no-arrow">
			  	<a class="nav-link" href="{{ path('home') }}" role="button">
	                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Index</span>  
	            </a>
            </li>
            <li class="nav-item no-arrow">
	            <a class="nav-link" href="" role="button">
	                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Editer Profile</span>  
	            </a>
        	</li>
        	{% if "ROLE_ADMIN" in app.user.Roles() %}
        	<li class="nav-item no-arrow">
	            <a class="nav-link" href="" role="button">
	                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Liste des Utilisateurs</span>  
	            </a>
        	</li>
        	{% endif %}
            <li class="nav-item no-arrow">
	            <a class="nav-link" href="{{ path('link_new') }}" id="userDropdown" role="button">
	                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ajouter Lien</span>  
	            </a>
        	</li>
		  </ul>

		   {% endif %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>

            </li>
			
	
            	
            {% if app.user %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle"  id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Bonjour {{ app.user.username }}!</span>  
              </a>
            </li>
            
            <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
            <li class="nav-item no-arrow">
            	<a class="nav-link btn-default" href="{{ path('app_logout') }}" role="button">
                	<span class="mr-2 d-none d-lg-inline text-gray-600 small">Se déconnecter</span>  
              	</a>
            </li>
            {% else %}
            <li class="nav-item no-arrow">
            <a class="nav-link btn-default" href="{{ path('app_login') }}" role="button">
                	<span class="mr-2 d-none d-lg-inline text-gray-600 small">Se connecter</span>  
            </a>
             </li>
             <div class="topbar-divider d-none d-sm-block"></div>
             <li class="nav-item dropdown no-arrow">
               <a class="nav-link btn-default" href="{{ path('app_register') }}" role="button">
                	<span class="mr-2 d-none d-lg-inline text-gray-600 small">S'enregistrer</span>  
            </a>
            </li>
            {% endif %}
            

          </ul>

        </nav>
        {% endblock %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

        	{% block body %}
        {% endblock %}


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  		
        {% block javascripts %}
		  <!-- Bootstrap core JavaScript-->
		  <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
		  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

		  <!-- Core plugin JavaScript-->
		  <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

		  <!-- Custom scripts for all pages-->
		  <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
